Repository OsProgramadores/op-desafios, pull requests merged in 2024-10, with the labels that each got.

#1091 Desafio 02 - @eduardoconde-bit
  desafio-02/eduardoconde-bit/php/README.md
  desafio-02/eduardoconde-bit/php/index.php
Labels: php

#1098 add solution for challenge n° 2 by @imalisoon
  desafio-02/imalisoon/python/README.md
  desafio-02/imalisoon/python/main.py
Labels: python

#1106 Desafio 03 - @eduardoconde-bit
  desafio-03/eduardoconde-bit/python/README.md
  desafio-03/eduardoconde-bit/python/palindrome.py
Labels: python

#1096 Resolvendo desafio 02 utilizando C
  desafio-02/osmarwilliam/c/README.md
  desafio-02/osmarwilliam/c/numPrimos.c
Labels: C

#1093 @devjunr - Resolução Desafio 2
  desafio-02/devjunr/java/DesafioNumPrimo.java
Labels: java

#1105 Primeiro envio do Desafio 03 por Talita Costa
  desafio-03/talita048/python/README.md
  desafio-03/talita048/python/desafio03.py
Labels: python

#1101 Conclusão do Desafio 02
  desafio-02/JamesStewart-314/python/README.md
  desafio-02/JamesStewart-314/python/desafio02.py
Labels: python

#1100 Desafio 02 por @Donicad
  desafio-02/Donicad/python/README.md
  desafio-02/Donicad/python/n_primos.py
Labels: python

#1107 add solution for challenge n° 03 by @imalisoon
  desafio-03/imalisoon/python/README.md
  desafio-03/imalisoon/python/main.py
Labels: python

#1110 @Devjunr - Desafio 03
  desafio-03/devjunr/java/README.md
  desafio-03/devjunr/java/palindromicos.java
Labels: java

#1112 #3 Challenge - Solution
  desafio-03/rocketguedes/python/README.md
  desafio-03/rocketguedes/python/palindrome.py
Labels: python

#1108 feat: Conclusão do desafio 03 - @JamesStewart-314
  desafio-03/JamesStewart-314/python/README.md
  desafio-03/JamesStewart-314/python/solution.py
Labels: python

#1103 Resolução desafio 02 por @fernandojeff
  desafio-02/fernandojeff/python/README.md
  desafio-02/fernandojeff/python/desafio02.py
Labels: python

#1104 Desafio 07 por @flafmg.
  desafio-07/flafmg/csharp/InvertFile.cs
  desafio-07/flafmg/csharp/README.MD
  desafio-07/flafmg/csharp/criararquivoteste.lua
  desafio-07/flafmg/csharp/csharp.csproj
Labels: C#

#1118 Desafio02 Enviado por @RaudineiMauricio
  desafio-02/RaudineiMauricio/python/README.md
  desafio-02/RaudineiMauricio/python/desafio02_crivo.py
Labels: python

#1113 Solução desafio 03 @Donicad
  desafio-03/Donicad/python/README.md
  desafio-03/Donicad/python/n_palindromicos.py
Labels: python
