Repository OsProgramadores/op-desafios, pull requests merged in 2024-12, with the labels that each got.

#1158 feat: Conclusão do desafio 10 - @JamesStewart-314
  desafio-10/JamesStewart-314/python/.valid
  desafio-10/JamesStewart-314/python/README.md
  desafio-10/JamesStewart-314/python/solution.py
Labels: python

#1162 feat: Conclusão do Desafio 11 - @JamesStewart-314
  desafio-11/JamesStewart-314/python/.valid
  desafio-11/JamesStewart-314/python/README.md
  desafio-11/JamesStewart-314/python/solution.py
Labels: python

#1164 feat: Conclusão do Desafio 12 - @JamesStewart-314
  desafio-12/JamesStewart-314/python/.valid
  desafio-12/JamesStewart-314/python/README.md
  desafio-12/JamesStewart-314/python/solution.py
Labels: python

#1163 conclusão desafio 03 por @joseildoandrade12 em javascript
  desafio-03/joseildoandrade12/javascript/README.md
  desafio-03/joseildoandrade12/javascript/script.js
Labels: javascript

#1165 deasfio 13 por @flafmg.
  desafio-13/flafmg/csharp/.valid
  desafio-13/flafmg/csharp/ConsoleApp3.csproj
  desafio-13/flafmg/csharp/README.MD
  desafio-13/flafmg/csharp/program.cs
Labels: C#
