Repository OsProgramadores/op-desafios, pull requests merged in 2024-11, with the labels that each got.

#1125 Inclusão da solução de verificação de números primos - Desafio 02…
  desafio-02/Miguel-V-DF/c/Makefile
  desafio-02/Miguel-V-DF/c/README.md
  desafio-02/Miguel-V-DF/c/primos.c
Labels: C

#1092 Anagrama em C++ - Desafio 6
  desafio-06/lucasfturos/cpp/.gitignore
  desafio-06/lucasfturos/cpp/CMakeLists.txt
  desafio-06/lucasfturos/cpp/build.sh
  desafio-06/lucasfturos/cpp/main.cpp
Labels: C++

#1135 add solution for challenge n° 09 by @imalisoon.
  desafio-09/imalisoon/python/.valid
  desafio-09/imalisoon/python/README.md
  desafio-09/imalisoon/python/baseconv.txt
  desafio-09/imalisoon/python/main.py
Labels: python

#1115 Resolucao desafio 2 em java
  desafio-02/AlisonLN/java/MeuDesafio2.java
  desafio-02/AlisonLN/java/readme.md
Labels: java

#1136 Desafio 06 Anagramas By.Donicad
  desafio-06/Donicad/python/README.md
  desafio-06/Donicad/python/anagramas.py
Labels: python

#1119 feat: Resolução do Desafio 6 - @JamesStewart-314
  desafio-06/JamesStewart-314/python/README.md
  desafio-06/JamesStewart-314/python/solution.py
Labels: python

#1123 Resolũção do desafio 03 por @fernandojeff
  desafio-03/fernandojeff/python/README.md
  desafio-03/fernandojeff/python/desafio03.py
Labels: python

#1124 Minha tentativa de resposta ao desafio 3.
  desafio-03/AlexPHorta/python/README.md
  desafio-03/AlexPHorta/python/desafio03.py
Labels: python

#1122 Desafio-08 por @flafmg.
  desafio-08/flafmg/csharp/.valid
  desafio-08/flafmg/csharp/ConsoleApp2.csproj
  desafio-08/flafmg/csharp/FracSimples.cs
  desafio-08/flafmg/csharp/README.MD
Labels: C#

#1142 Resolucao desafio 3 em java
  desafio-03/AlisonLN/java/MeuDesafio3.java
  desafio-03/AlisonLN/java/Readme.md
Labels: java

#1148 desafio 10 por @flafmg
  desafio-10/flafmg/csharp/.valid
  desafio-10/flafmg/csharp/README.MD
  desafio-10/flafmg/csharp/program.cs
  desafio-10/flafmg/csharp/program.csproj
Labels: C#

#1151 feat: Conclusão do Desafio 8 - @JamesStewart-314
  desafio-08/JamesStewart-314/python/.valid
  desafio-08/JamesStewart-314/python/README.md
  desafio-08/JamesStewart-314/python/solution.py
Labels: python

#1153 feat: Conclusão do Desafio 9 - @JamesStewart-314
  desafio-09/JamesStewart-314/python/.valid
  desafio-09/JamesStewart-314/python/README.md
  desafio-09/JamesStewart-314/python/solution.py
Labels: python

#1152 Desafio 11 por @flafmg
  desafio-11/flafmg/csharp/.valid
  desafio-11/flafmg/csharp/README.MD
  desafio-11/flafmg/csharp/program.cs
  desafio-11/flafmg/csharp/program.csproj
Labels: C#
